.navigation-link {
  @include text-md;
  letter-spacing: 2px;
  line-height: 14px;
}
.section-title {
  font-family: 'Nixie One';
  font-size: 36px;
  line-height: 36px;
  @include media-breakpoint-down(md) {
    font-size: 24px;
    line-height: 24px;
  }
}
.secondary-title {
  @include text-xxl;
  font-family: 'Nixie One';
}