
// =====================================================
// ================== COLOR VARIABLES ==================
// =====================================================

// DESCRIPTIVE COLORS
// ==================
$quartz: #4C4C4C;
$dracula-orchid:#2d3436;
$midnight-blue: #2c3e50;
$vivid-gamboge: #FF9800;
$coffee-brown: #38220F;

$pure-apple: #6ab04c;
$quince-jelly: #f0932b;
$carmine-pink: #eb4d4b;

// COMMON COLORS
// ==================
$black: #171717;
$white: rgba(#fff, .75);

// MAIN COLOR PALETTE
// ==================
$color-primary: $coffee-brown;
$color-secondary: $vivid-gamboge;
$color-success: $pure-apple;
$color-warning: $quince-jelly;
$color-danger: $carmine-pink;